@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-kaushan: "Kaushan Script", cursive;

	--color-primary: #e5ab4e;
	--color-secondary: #5896bc;
	--color-heading: #2a2a2a;
	--color-description: #737373;

	--text-nav-link: 14px;

	--animate-scroll-down: scroll-down 10s linear infinite;
	--animate-scroll-up: scroll-up 10s linear infinite;
	--animate-marquee: marquee 20s linear infinite;

	@keyframes scroll-down {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(101%);
		}
	}

	@keyframes scroll-up {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-134%);
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

@layer utilities {
	.bg-screen-radial {
		background-image: radial-gradient(
				141.16% 172.8% at 0% 193%,
				rgba(229, 171, 78, 0.8) -50%,
				rgba(229, 171, 78, 0) 100%
			),
			radial-gradient(
				218.16% 370.8% at 100% 100%,
				rgba(229, 171, 78, 0.8) -10%,
				rgba(88, 150, 188, 0) -7%
			);
		background-color: #ffffff;
	}
	.bg-card-radial {
		background-image: radial-gradient(
				147.78% 58.45% at -21.84% 4.12%,
				rgba(210, 217, 67, 0.8) 0%,
				rgba(83, 193, 222, 0) 100%
			),
			radial-gradient(
				88.08% 79.57% at 98.38% 100%,
				rgba(255, 158, 49, 0.8) 0%,
				rgba(210, 217, 67, 0) 100%
			),
			linear-gradient(
				251deg,
				rgba(64, 186, 255, 0.8) 1.06%,
				rgba(0, 0, 0, 0) 85.58%
			);
		background-color: #131313;
	}
	.font-kaushan {
		font-family: var(--font-kaushan);
	}
}

@plugin 'tailwind-scrollbar';
