@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary: #e5ab4e;
	--color-secondary: #5896bc;
	--color-heading: #2a2a2a;
	--color-description: #737373;

	--text-nav-link: 14px;

	--animate-scroll-down: scroll-down 10s linear infinite;
	--animate-scroll-up: scroll-up 10s linear infinite;
	--animate-marquee: marquee 20s linear infinite;

	@keyframes scroll-down {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(101%);
		}
	}

	@keyframes scroll-up {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-134%);
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

@plugin 'tailwind-scrollbar';
